---
permalink: /
layout: index
title: Homepage
description: Page desc here
snapshots:
  - thumbnail_path: assets/img/snapshots/amiotek-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/amiotek-mark.jpg
    name: Amiotek Logotype
  - thumbnail_path: assets/img/snapshots/avectous-concept.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-concept.jpg
    name: Avectous Logo
  - thumbnail_path: assets/img/snapshots/avectous-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-mark.jpg
    name: Avectous Mark
  - thumbnail_path: assets/img/snapshots/avectous-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-mark.jpg
    name: Avectous Mark
  - thumbnail_path: assets/img/snapshots/avectous-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-mark.jpg
    name: Avectous Mark
  - thumbnail_path: assets/img/snapshots/amiotek-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/amiotek-mark.jpg
    name: Amiotek Logotype
  - thumbnail_path: assets/img/snapshots/avectous-concept.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-concept.jpg
    name: Avectous Logo
  - thumbnail_path: assets/img/snapshots/avectous-mark.jpg
    fullsize_path: assets/img/snapshots/fullsize/avectous-mark.jpg
    name: Avectous Mark
---

<div class="modal" id="cf-gallery-modal">

  <img id="cf-gallery-modal-img">

  <div class="modal__preloader">
  </div>

</div>





<header class="header header--dark">
  <h1>Design. Web. Brand. UI/X.</h1>
  <span class="subheading">
    We are Cubicflow. We create brands and digital experiences.
  </span>
</header>

{% for casestudy in site.casestudies %}
  {% if casestudy.featured %}
  <a href="{{ casestudy.url }}" class="featured-case-study">

    <div class="featured-case-study__image cf-responsive" style="background-image: url({{casestudy.featured_thumbnail_path}})">
    </div>

    <div class="case-study__label">{{ casestudy.thumbnail_label}}</div>
  </a>
  {% endif %}
{% endfor %}

<div class="case-study-grid">
  {% for casestudy in site.casestudies %}
    {% if casestudy.featured == false %}
      <a href="{{ casestudy.url }}" class="case-study">

        <img class="case-study__image cf-responsive" src="{{ casestudy.thumbnail_path }}">

        <div class="case-study__label">{{ casestudy.thumbnail_label}}</div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<!-- <div class="case-study-grid">
  {% for item in page.case_studies %}
  <a href="{{item.case_study_link}}" class="case-study">

    <img class="case-study__image" src="{{item.image_path}}">

    <div class="case-study__label">{{ item.label}}</div>
  </a>
  {% endfor %}
</div> -->


<header class="header header--dark">
  <h1>Snapshots.</h1>
  <span class="subheading">
  Here are a few shapshots of our current projects to give you a good look at our visual style.
  </span>
</header>


<div class="shapshots-grid">
  {% for item in page.snapshots %}
  <a data-fullsize="{{item.fullsize_path}}" class="shapshots-grid__snapshot">
    <div class="shapshots-grid__snapshot__overflow">
      <img class="cf-responsive" src="{{item.thumbnail_path}}">
    </div>
  </a>
  {% endfor %}
</div>
