<footer class="footer">
  <div class="footer__row">
    <div class="footer__col footer__col--left">
      <h3>Cubicflow</h3>
      <span>Creative Studio</span>
      <span class="footer__copyright">
      © Copyright 2015
      </span>
    </div>
    <div class="footer__col">
      <h3>Say Hello</h3>
      <span>hello@cubicflow.com</span>
      <span>America: +1 562 285 3569</span>
      <span>Japan: +81 080 4050 3454</span>
    </div>
    <div class="footer__col">
      <h3>Appendix</h3>
      <span>Development Practices</span>
      <span>Retainers</span>
      <span>DDash Login</span>
    </div>
    <div class="footer__col footer__col--right">
      <img class="footer__logo" src="/assets/img/cf-logo-light.svg">
    </div>
  </div>
</footer>
